* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  background-color: #EAEAEA;
  color: #333;
  font-size: 1rem;
}
header {
  background-color: #8E39A4;
  color: #DCDCFC;
  text-align: center;
  padding: 1em;
}
header {
  background-color: #8E39A4;
  color: #DCDCFC;
  text-align: center;
  padding: 1em;
}
nav {
  background-color: #8E39A4;
  color: #EAEAEA;
  padding: 0.5em;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #DCDCFC;
  text-decoration: none;
  padding: 0.5em;
}
main {
  padding: 2em;
}
section {
  margin-bottom: 2em;
  background-color: #DCDCFC;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1, h2 {
  color: #8E39A4;
  font-size: 3rem;
  text-transform: uppercase;
  filter: blur(0px);
  opacity: 1;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
/* Accesibilidad */

img {
  alt: "Imagen";
  min-width: 100px;
  min-height: 100px;
}
