
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-plus-1:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
